<section class="w-4/5 mt-5 mx-auto">
  <div class="border-1 border-neutral border-rounded p-3 relative mt-5 ">
    <h3 class="absolute -top-11 p-2 bg-white-light flex gap-x-2">
      <a href="/project/{{timesheet.project.id}}">{{timesheet.project.title}}</a>
      <svg class="w-3" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
      </svg>
      <a href="/milestone/{{timesheet.milestone.id}}">{{timesheet.milestone.title}}</a>
      <svg class="w-3" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
      </svg>
      <a href="/settings/products">{{timesheet.product.name}}</a>
    </h3>
    <div class="grid grid-cols-4 mt-3 mb-3">
      <div>Date</div>
      <div i18n-date>{{timesheet.workedAt}}</div>
      <div>Hours</div>
      <div decimal i18n-number>{{timesheet.hours}}</div>
    </div>
    <div class="border-1 border-secondary bg-secondary-light-opaque border-rounded p-2">
      <div class="bg-white p-1 border-rounded">{{timesheet.product.htmlDescription}}</div>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-x-2 mt-3">
    <h2 class="flex-1 mt-0">Notes</h2>
    <button class="button-secondary place-start-end flex gap-x-2" data-toggle-show="#note-modal" n-if="loggedIn">
      <svg class="w-3" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9.568 3H5.25A2.25 2.25 0 003 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 005.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 009.568 3z"></path>
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6z"></path>
      </svg>
      new note
    </button>
  </div>
  <div n-if="notes.length">
    <div class="mt-3" n-for="notes as note" partial="Note/views/noteCard.html"></div>

  </div>
  <div class="mt-3" partial="Note/views/create.html"></div>
</section>