<div class="flex gap-x-5 mx-auto w-4/5 mt-5">
  <div class="w-full">
    <h1>{{project.title}}</h1>
  </div>
  <article>
    <div n-for="timelineItems as timelineItem" class="relative mb-3">
      <div class="flex gap-x-2">
        <div class="border-l-1 border-neutral-light-opaque -shadow-body-light-opaque p-2 border-rounded">
          <span i18n-date>{{timelineItem.createdAt}}</span>
          <div class="border-b-1 border-neutral-light-opaque"></div>
          <span i18n-time>{{timelineItem.createdAt}}</span>
        </div>
        <div class="place-center" timeline-activity="{{timelineItem.activity}}"></div>
        <div class="border-r-1 shadow-body-light-opaque border-rounded p-2 border-neutral-light-opaque w-28">
          {{timelineItem.activity}}
          <div class="border-b-1 border-neutral-light-opaque"></div>
        </div>
      </div>
    </div>
  </article>


</div>