@import "mixins";
@each $name, $color in $colors {
  @include withHover("text-#{$name}") {
    color: $color;
  }
  @include withHover("odd-child-text-#{$name}:nth-child(odd)") {
    color: $color;
  }
  @include withHover("even-child-text-#{$name}:nth-child(even)") {
    color: $color;
  }
}

$fontSizes: ("sm": .6rem, "md": .8rem, "lg": 1.4rem, "xl": 2.2rem);

@each $name, $size in $fontSizes{
  .font-#{$name}{
    font-size: $size;
  }
}

$aligns: ("center", "right", "justify", "inherit", "start", "end");

@each $name in $aligns{
  .text-#{$name}{
    text-align: unquote($name);
  }
}

$decorations: ("underline");

@each $name in $decorations{
  .text-#{$name}{
    text-decoration: unquote($name);
  }
}

$weights: ("light": 200, "normal": 400, "bold": 700, "bolder": 900);

@each $key, $value in $weights{
  .font-#{$key}{
    font-weight: $value;
  }
}