<div class="w-4/5 mx-auto mt-5 flex-1">
    <h1>Project <a class="text-secondary hover:text-secondary-dark" href="/project/{{project.id}}/milestones">{{project.title}}</a>
        - {{title}}</h1>
    <div class="border-1 border-secondary border-rounded p-2">
        <form method="post" action="/milestone/{{id}}/update" class="grid grid-cols-4 gap-x-2 p-2">

            <div class="input">
                <input type="date" name="startedAt" id="startedAt" value="{{startDate}}">
                <label for="startedAt">Start date</label>
            </div>
            <div class="input">
                <input type="date" name="targetedAt" id="targetedAt" value="{{targetDate}}">
                <label for="targetedAt">Target date</label>
            </div>
            <div class="input">
                <input type="number" step="0.25" name="estimatedHours" id="estimatedHours" value="{{estimatedHours}}">
                <label for="estimatedHours">Estimated hours</label>
            </div>
            <div class="place-center-end">
                <button class="button-secondary">update</button>
            </div>
        </form>
        <div class="grid grid-cols-2 gap-5">
            <div class="notes">
                <div class="grid grid-cols-2 gap-x-2">
                    <h2 class="flex-1">Notes</h2>
                    <button class="button-primary place-center-end" data-toggle-show="#note-modal">new note</button>
                </div>

                <div class="grid gap-3" n-if="notes.length > 0">

                    <div class="relative bg-secondary-dark border-2 border-secondary border-rounded text-white p-1"
                         n-for="notes as note">
                        <div class="absolute bg-secondary border-rounder pl-2 pr-2 -top-2 -right-1 font-md" i18n-date>
                            {{pureDate(note.createdAt)}}
                        </div>
                        <div class="flex gap-x-2">
                            <svg class="w-3" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z"></path>
                            </svg>
                            <div style="white-space: pre-wrap">{{note.content}}</div>
                        </div>
                        <div>
                            <div class="flex gap-x-2 mt-3" n-if="note.remindAt">
                                <svg class="w-3" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z"></path>
                                </svg>
                                <p i18n-date="">
                                    {{note.remindAt}}
                                </p>
                            </div>
                        </div>

                        <div class="mt-3">
                            <button class="button-danger-opaque font-sm" data-delete="/api/note" data-delete-id="{{note.id}}">delete</button>
                        </div>

                    </div>

                </div>
            </div>
            <div class="timesheets">
                <div partial="/Chart/views/bar.html"></div>
                <div class="grid grid-cols-2 gap-x-2">
                    <h2 class="flex-1">Worked on</h2>
                    <a href="/project/{{project.id}}/tracking" class="button-primary place-center-end" >track time</a>
                </div>
                <div class="mt-3" n-if="timesheets.length > 0">
                    <div n-for="timesheets as timesheet" class="grid grid-cols-4 gap-3 odd-child-bg-body-light odd-child-text-secondary-light p-1">
                        <div i18n-date>{{timesheet.workedAt}}</div>
                        <div ><span i18n-number decimal>{{timesheet.hours}}</span> h</div>
                        <div class="span-x-2">{{timesheet.productName}}</div>
                    </div>
                </div>

            </div>

        </div>



    </div>
    <div partial="Note/views/create.html"></div>
    <script type="module">
        import Toast from "/js/toast.js";

        new Toast(queryParameter.feedback).show(5)
        window.history.pushState({}, null, window.location.pathname)
    </script>
</div>