<section class="mt-20 w-2/5 mx-auto border-2 border-neutral border-rounded p-3">
    <form class="pl-4 pr-4 relative" action="/register" method="post">
        <h3 class="absolute -top-18 p-2 bg-white-light">Register</h3>
        <div class="input">
            <input id="email" name="email" type="email" required>
            <label for="email">Email</label>
        </div>
        <div class="input">
            <input id="inviteCode" name="inviteCode" type="text" required>
            <label for="inviteCode">Invite code</label>
        </div>
        <div class="input">
            <input id="password" name="password" type="password" required>
            <label for="password">Choose password</label>
        </div>
        <div class="grid grid-cols-4">
            <div>
                <input id="tac" name="tac" type="checkbox" required>
            </div>

            <label class="span-x-3" for="tac">Accept <a href="/terms">Terms & Conditions</a></label>
        </div>
        <div class="grid grid-cols-3">
            <div class="span-x-2 text-danger">{{error}}</div>
            <div class="place-end-end">
                <button class="button-primary">Register</button>
            </div>
        </div>
    </form>
</section>