<section class="w-3/5 mx-auto mt-5">
  <form action="/customer/{{id}}" method="post" class="border-1 border-neutral border-rounded p-3 relative mt-5">
    <h3 class="absolute -top-11 p-2 bg-white-light">Customer</h3>
    <div class="flex gap-x-3">
      <div class="input w-12">
        <input type="text" id="number" name="customerNumber" value="{{customerNumber}}" required>
        <label for="number">Number</label>
      </div>
      <div class="input">
        <input id="title" type="text" name="title" value="{{title}}" required>
        <label for="title">Name</label>
      </div>
      <div class="input">
        <input id="email" type="email" name="emailAddress" value="{{emailAddress}}" required>
        <label for="email">Email</label>
      </div>
      <div class="input">
        <input id="registry" type="text" name="registry" value="{{registry}}" placeholder="registry">
        <label for="registry">Registry</label>
      </div>
      <div class="grid">
        <button class="button-secondary place-center-end">save</button>
      </div>
    </div>
  </form>
  <div class="grid grid-cols-2 gap-2">
    <form action="/address/{{addressId}}" method="post" class="border-1 border-neutral border-rounded p-3 relative mt-5">
      <h3 class="absolute -top-11 p-2 bg-white-light">Address</h3>
      <input type="hidden" name="customerId" value="{{id}}">
      <div class="input">
        <input type="text" id="street" name="street" value="{{address.street}}" required>
        <label for="street">Street</label>
      </div>
      <div class="grid grid-cols-2 gap-x-3">
        <div class="input">
          <input id="state" type="text" name="state" value="{{address.state}}" placeholder="true">
          <label for="state">State</label>
        </div>
        <div class="input">
          <input id="postalCode" type="text" name="postalCode" value="{{address.postalCode}}" required>
          <label for="postalCode">Postal code</label>
        </div>
        <div class="input span-x-2">
          <input id="place" type="text" name="place" value="{{address.place}}" required>
          <label for="place">Place</label>
        </div>
      </div>
      <div class="input">
        <select id="country" name="country" data-selected="{{address.country}}" required>
          <option value="" disabled selected></option>
          <option n-for="countries as country => name" value="{{country}}">{{name}}</option>

        </select>
        <label for="country">Country</label>
      </div>
      <div class="grid">
        <button class="button-secondary place-center-end">save</button>
      </div>
    </form>
    <div class="mt-5 overflow-y-auto" style="max-height: 320px">
      <div>
        <a href="/person/new/{{id}}" class="button-primary flex gap-x-2 place-end-end">
          <svg class="w-2" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
          </svg>
          add person
        </a>
        <div
                class="odd-child-bg-body-light odd-child-text-white pl-2"
                partial="Person/views/contactCard.html"
                n-if="persons.length > 0"
                n-for="persons as i => person"></div>
      </div>


    </div>

  </div>
  <script type="module">
    import Toast from "/js/toast.js";

    new Toast('{{feedback}}').show(5)
  </script>

</section>
