<section>
    <div class="cursor-pointer" data-toggle-show=".person-{{i}}">
        <div class="flex gap-x-2">
            <svg class="w-2 inline" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <div>
              <span gender-title="{{person.gender}}"></span>
                {{person.firstName}}
                <span class="person-{{i}} none">{{person.middleName}}</span>
                {{person.lastName}}
            </div>
        </div>
    </div>
    <div class="person-{{i}} none">
        <div class="flex gap-x-2">
            <svg class="w-2" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"></path>
            </svg>
            <a class="text-accent" href="mailto:{{person.email}}">{{person.email}}</a>
        </div>
        <div class="flex gap-x-2">
            <svg class="w-2" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
            </svg>
            <a class="text-accent" href="tel:{{person.phone}}">{{person.phone}}</a>
        </div>
        <div class="flex w-full gap-x-2 pb-2">
            <a href="/person/{{person.id}}" class="button-secondary font-md" >open / edit</a>
            <button class="button-danger font-md" data-toggle-show=".person-{{i}}">close</button>
        </div>
    </div>
</section>
